
<% content_for :devise_form do %>
  <% content_for :page_title do %>
    Change password
  <% end %>

  <div class="ui form <%= "error" if resource.errors.any? %>">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    
    <%= devise_error_messages! %>

    <%= f.input :reset_password_token, as: :hidden %>
  
    <%= f.input :password, 
        autocomplete: 'off', 
        placeholder: 'Enter new password' %>

    <%= f.input :password_confirmation, 
        autocomplete: 'off' , 
        placeholder: 'Confirm new password' %>

      <div class="ui one column center aligned grid">
        <div class="sixteen wide column">
          <%= button_tag class: 'ui justified right submit button primary' do %>
            <i class="check circle icon"></i> Change my password
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
<% end %>

<%= render 'devise/shared/form_wrap' %>