<% content_for :devise_form do %>
  <% content_for :page_title do %>
    Sign in
  <% end %>

  <div class="ui form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
          wrapper: :semantic_icon_input,
          left_icon: 'user' %>

      <%= f.input :password,
          wrapper: :semantic_icon_input,
          left_icon: 'lock' %>

      <div class="ui one column center aligned grid">
        <div class="sixteen wide column">
          <% if devise_mapping.rememberable? -%>
            <%= f.input :remember_me, as: :boolean, wrapper: :semantic_checkbox %>
          <% end %>
          <%= f.submit 'Log in', class: 'ui submit button primary' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'devise/shared/links' %>
<% end %>

<%= render 'devise/shared/form_wrap' %>